<?php
/**
 * @var Avanti\SellerEmailToQuote\Block\Adminhtml\Order\View\SellerEmail $block
 */
$order = $block->getOrder();
?>
 <tr>
     <th><?= $block->escapeHtml(__("Seller Email")) ?></th>
     <td><?= $order->getSellerEmail() ?? __('E-mail not Informed'); ?></td>
 </tr>